.button{
    padding: 5px 10px;
    background-color: #e8e8e8;
    border: 1px solid rgb(191, 191, 191);
    color: rgb(109, 109, 109);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px 40px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.button:hover{
    background-color: #cecece;
    color: #232323;
}


.Success {
    background-color: #5C9210;
    color: #fff;
}

.Danger {
    background-color: #944317;
    color: #fff;

}

.Normal{
    background-color: #f59292;
    color: #8a4d4d;
}

.Normal:hover{
    background-color: #de8282;
    color: #8a4d4d;
}

button:disabled {
    cursor: not-allowed;
}