.Navigation{
    background-color: #73a6bd;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Navigation li{
    color: blue;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
}

.Navigation li:hover{
    background-color: #6995a9;
    padding: 20px 0px;
}

.Navigation .menu{
    color: #32515f;
    margin: 0px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

