.Navigation{
    background-color: #ff7c24;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 57px;
}

.Navigation li{
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
}

.Navigation li:hover{
    background-color: #f76f14;
    padding: 15px 0px;
}

.Icon{
    color: #cf3a00;
    font-size: 40px;
}

.Icon:hover{
    color: rgb(167, 48, 1);
}

