.Dashboard{
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

.listeMenus li{
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    border: 1px solid #000;
    padding: 44px 36px;
    background-color: #f1f1f1;
}